<%- include("includes/head.ejs")%>
<body>
    <h1>this is home page 1+2 </h1>
    <h3><%= 1*2 %></h3>
    <h3><%= "apnavikash".toUpperCase() %></h3>
    <h3><%= ["hello","ram","shyam"][1] %></h3>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi deserunt molestiae distinctio libero culpa ex, omnis explicabo inventore eaque et neque laboriosam quis perspiciatis, blanditiis odio aut in voluptate.</p>
    <button>click me</button>
</body>