<%- include("includes/head.ejs")%>
<body>
    <h2>This page belongs to @
        <%= username %>
    </h2>
    <button>follow</button>
    <button>msg</button>
    <h3>Accounts that follow you :
        <ul>
            <% for(let name of followers){ %>
            <li><%=name%></li>
            <% }%>
        </ul>
    </h3>
    <%- include("includes/footer.ejs")%>
</body>
